function LevelManager.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 10
pop this 1
push this 1
push constant 1
add
call Array.new 1
pop this 2
push constant 0
push this 2
add
push constant 0
push constant 0
push constant 0
call String.new 1
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 8
push constant 8
push constant 64
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 9
push constant 9
push constant 81
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push constant 6
push constant 8
push constant 48
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 2
add
push constant 8
push constant 8
push constant 64
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 2
add
push constant 8
push constant 7
push constant 56
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 2
add
push constant 8
push constant 7
push constant 56
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 2
add
push constant 8
push constant 8
push constant 64
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 2
add
push constant 8
push constant 7
push constant 56
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 2
add
push constant 9
push constant 7
push constant 63
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 2
add
push constant 7
push constant 8
push constant 56
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 36
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 64
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
call Level.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function LevelManager.getCurrentLevelNumber 0
push argument 0
pop pointer 0
push this 0
return
function LevelManager.getFinalLevelNumber 0
push argument 0
pop pointer 0
push this 1
return
function LevelManager.getCurrentLevel 0
push argument 0
pop pointer 0
push this 0
push this 2
add
pop pointer 1
push that 0
return
function LevelManager.hasNextLevel 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
return
function LevelManager.progressToNextLevel 0
push argument 0
pop pointer 0
push this 0
push constant 1
add
pop this 0
push constant 0
return
function LevelManager.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
return
function LevelManager.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
